.encabezado {
    border-bottom: solid 3px rgba(107, 107, 107, 0.2470588235);
    display: flex;
    background-color: #34495E;
    h1 {
        margin-left: 15px;
        color: #707B7C ;
        font-style: italic;
        display: flex;
        align-items: center;
    }    
}

.navbar{
    margin: 10px;
    .container{
        .collapse {
            .navbar-nav{
                .nav-item{
                    .encabezado__lista__link:active{
                        color: #D4AC0D ;
                    }
                }
            }
        }
    }
}
