.encabezado {
    border-bottom: solid 3px rgba(107, 107, 107, 0.2470588235);
    display: flex;
    background-color: #8080805b;
    h1 {
        margin-left: 15px;
        color: #ffffff;
        font-style: italic;
        display: flex;
        align-items: center;
    }    
}

.navbar{
    margin: 10px;
    .container{
        .collapse {
            .navbar-nav{
                .nav-item{
                    .encabezado__lista__link{
                        color: #000000;
                    }
                }
            }
        }
    }
}
