.informacion{
    display: flex;
    justify-content: space-between;
    .principal__servicios{             
        display: flex;
        .card{
            margin-top: 10px;
            border: none;
            .card-header{
                animation-name: traslacion_staff;
                animation-duration: 1s;
                animation-iteration-count: 1;
                border-bottom: solid 3px #34495E;
                .links{
                    text-decoration: none;
                    color: #8a8a8a;
                }
            }
            .card-body {
                animation-name: traslacion_staff;
                animation-duration: 1s;
                animation-iteration-count: 1;                
                font-style: italic;
                color: #252525; 
                .card-text{
                    animation-name: traslacion_staff;
                    animation-duration: 1.3s;
                    animation-iteration-count: 1;
                }        
            }
        }
    }
    .principal__nosotros{        
        display: flex;
        .card{
            margin-top: 10px;
            border: none;
            .card-header{  
                animation-name: traslacion_staff;
                animation-duration: 1s;
                animation-iteration-count: 1;
                border-bottom: solid 3px #34495E;
                .links{
                    text-decoration: none;
                    color: #8a8a8a;
                }
            }
            .card-body {
                animation-name: traslacion_staff;
                animation-duration: 1.3s;
                animation-iteration-count: 1;                
                font-style: italic;
                color: #252525;            
            }
        }
    }
    .principal__contacto{
        padding: 10px;
        display: flex;
        justify-content: center;
        .principal__contacto__boton{    
            padding: 10px;
            background-color: #34495E;
            border-bottom: solid 2px #252525;
            border-right: #252525 solid 2px;
            border-left: solid 1px #252525;
            border-top: solid 1px #252525;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 3px; 
            border-top-left-radius: 3px;
            transition: padding 1s, background-color 1s red, border-bottom 3s;
            .links{
                color: #ffffff;
                text-decoration: none;
                font-weight: 700;
            }        
        }
    }
}