$coloresEncabezado: (
    backgroundHeader: rgb(52, 73, 94),
    colorTituloHeader: rgb(112, 123, 124),
    colorLinksNav: rgb(212, 172, 13),
    bordeBajo: rgba(107, 107, 107, 0.2470588235),
);

$coloresfooter: (
    textoFooter: rgb(255, 255, 255),   
    backgroundFooter: rgb(0, 0, 0),
);

$colorBotones: (
    backgroundBoton: rgb(52, 73, 94),
    borderBoton: rgb(37, 37, 37),
    colorLinkBoton: rgb(255, 255, 255),

);

$colorTexto: (
    colorTexto: rgb(37,37,37),
);

$colorLinks: (
    colorLinks: rgb(138, 138, 138),
);

$colorLinkCartas: (
    colorLinkCartas: rgb(138, 138, 138),
);