* {
    margin: 0px;
    padding: 0px;
    font-family: 'Anek Malayalam', sans-serif;
}

.grilla {
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "titulo titulo titulo"
    "servicio nosotros nosotros"
    "contacto contacto contacto"
    "pie pie pie";
    grid-template-rows: 100px .5fr 4fr .5fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    background-image: url(../imagen/fondotodo.jpg);
    row-gap: 2px;
    column-gap: 10px;
}


/* Inicio */
/* Estilo del encabezado */

.encabezado {
    grid-area: encabezado;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;
    position: sticky;
    background-color: #8080805b;
}

.encabezado__titulo {
    margin-left: 15px;
    color: #ffffff;
}

.encabezado__lista {
    justify-content: space-evenly;
    display: flex;
    list-style-type: none;
}

.encabezado__lista__link {
    text-align: center;
    width: 80px;
    text-decoration: none;
    color: #000000;
}

.encabezado__barraDeNavegacion li {
    display: flex;
    list-style: none;
    cursor: pointer;
    margin: 10px;
}

/* Estilo de contedido principal */

.titulo__main{
    grid-area: titulo;
    margin-left: 35px;
}

.principal {
    grid-area: servicio;
    display: flex;
    color: #000000;
    background-color: #ffffff73;
    margin: 15px;
    border-radius: 5px;
}

.principal__servicios__parrafo{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #000000;
    font-style: italic;
}

.principal__servicios__lista{
    display: inline-block;
    justify-content: center;
    align-content: center;
    margin-left: 35px;
}


.principal__servicios__titulo{
    color: #000000;
    
}


.principal__nosotros {
    grid-area: nosotros;
    justify-content: center;
    align-content: center;
    background-color: #ffffff73;
    margin: 15px;
}

.principal__nosotros__parrafo{
    margin: 15px;
    font-style: italic;
}

.link{
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
}

.direc{
    background-color: #ffffff98;
}

.principal__contacto {
    grid-area: contacto;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
}

.principal__contacto__boton{
    border: solid #80808000;
    background-color: #80808000;
    text-decoration: none;
    color: red;
    font-style: italic;
    font-size: 30px;
}



/* Fin de inicio */

.grilla2{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado"
    "experiencia historia"
    "pie pie";
    grid-template-rows: 100px 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* row-gap: 25px; */
    height: 100vh;
    background-image: url(../imagen/fondotodo.jpg);
}

/* Pagina quienes somos  */

.nosotros {
    display: flex;
    grid-area: experiencia;
    flex-flow: column;
    align-content: center;
    font-style: italic;
    margin: 35px;
    background-color: #ffffff73;
    font-weight: bold;
    border-radius: 5px;
}

.nosotros__somos {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 30px;
}

.nosotros__descripcion {
    color: #000000;
    margin: 15px;
}

.nosotros__historia{
    display: flex;
    flex-flow: column;
    grid-area: historia;
    font-style: italic;
    font-weight: bold;
    background-color: #ffffff73;
    border-radius: 5px;
    margin: 35px;
}

.nosotros__historia__titulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.nosotros__historia__parrafo{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 380px;
    margin: 15px;    
}
/* Fin de pagina quienes somos*/ 

.grilla3{   
    background-image: url(../imagen/fondotodo.jpg);
}

/* Pagina de servicios */

.contenedor__servicios__identificacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 250px;
    height: 450px;
    background-color: #ffffff98;
    border: solid #D5D5DC;
    border-radius: 20px;
}

.contenedor__servicios__identificacion__parrafo{
    margin: 5px;
    font-style: italic;
}

.contenedor__servicios__identificacion__img {
    width: 150px;
    height: 200px;
    border: #ffffff;
    border-radius: 3px;
}



/* pagina de staff */



.presentacion {
    grid-area: carruzel;
    background-color: #808080;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-style: italic;
    background-image: url(../imagen/fondotodo.jpg);
}

.presentacion__nosotros {
    display: flex;
    justify-content: space-between;
}

.presentacion__nosotros__julian1 {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    border: solid 2px #b8b8bb;
    border-radius: 5px;
    background-color: #ffffff63;
    color: black;

}

.presentacion__parrafo {
    text-align: center;
    margin: 35px;
}

.presentacion__img {
    margin: 20px;
    border-radius: 15px;
    height: 300px;
    width: 330px;
}
/* pagina de contacto */

.contacto {
    grid-area: carruzel;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: space-around;
    background-image: url(../imagen/fondotodo.jpg);
    font-style: italic;
}

.contacto__mapa a {
    display: flex;
    margin: 20px;
}

.contacto__formulario {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contacto__formulario__datos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border: solid 2px #b8b8bb;
    border-radius: 5px;
    background-color: #ffffff63;
}

.contacto__redSocial {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.redSocial {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 8px;
}

/* footer */

.pie {
    grid-area: pie;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: flex-end;
    background-color: #000000;
    color: #ffffff;
}

.pie__informacion {
    display: flex;
    text-align: center;
}

.pie__informacion__ubi {    
    width: 500px;
}

.pie__informacion__mail {
    display: flex;
}