* {
    margin: 0px;
    padding: 0px;
    font-family: 'Anek Malayalam', sans-serif;
}

.color {
    background-color: #808080;
}

.contenido{
    display: flex;
    grid-area: carruzel;
}

.d-block {
    height: 450px;
    display: flex;
}
.carousel-item{
    display: flex;
    justify-content: center;
}

/* Inicio */
/* Estilo del encabezado */

.encabezado {
    grid-area: encabezado;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;
    position: sticky;
    background-color: #8080805b;
}

.encabezado__titulo {
    margin-left: 15px;
    color: #ffffff;
}

.encabezado__lista {
    justify-content: space-evenly;
    display: flex;
    list-style-type: none;
}

.encabezado__lista__link {
    text-align: center;
    width: 80px;
    text-decoration: none;
    color: #000000;
}

.encabezado__barraDeNavegacion li {
    display: flex;
    list-style: none;
    cursor: pointer;
    margin: 10px;
}

/* Estilo de contedido principal */


.principal__servicios {
    grid-area: servicio;
    display: flex;
    margin-left: 5px;
}

.principal__nosotros {
    display: flex;
    grid-area: nosotros;
}

.principal__contacto {
    grid-area: contacto;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
}

.links {
    text-decoration: none;
    color: #000000;
}

/* Fin de inicio */

.grilla2{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado"
    "experiencia historia"
    "pie pie";
    grid-template-rows: 100px 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* row-gap: 25px; */
    height: 100vh;
    background-image: url(../imagen/fondotodo.jpg);
}

/* Pagina quienes somos  */

.nosotros {
    display: flex;
    grid-area: experiencia;
    flex-flow: column;
    align-content: center;
    font-style: italic;
    margin: 35px;
    background-color: #ffffff73;
    font-weight: bold;
    border-radius: 5px;
}

.nosotros__somos {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 30px;
}

.nosotros__descripcion {
    color: #000000;
    margin: 15px;
}

.nosotros__historia{
    display: flex;
    flex-flow: column;
    grid-area: historia;
    font-style: italic;
    font-weight: bold;
    background-color: #ffffff73;
    border-radius: 5px;
    margin: 35px;
}

.nosotros__historia__titulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.nosotros__historia__parrafo{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 380px;
    margin: 15px;    
}
/* Fin de pagina quienes somos*/ 


/* Pagina de servicios */

.grilla3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    row-gap: 15px;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "laboral familiar accidentes"
    "financiero daños defensa"
    "pie pie pie";
    height: 100vh;
    background-image: url(../imagen/fondotodo.jpg);
}

.fondo{
    background: #8080805b;
}

.laboral{
    display: flex;
    justify-content: center;
    grid-area: laboral;
}
.familiar {
    display: flex;
    justify-content: center;
    grid-area: familiar;
}
.accidentes{
    display: flex;
    justify-content: center;
    grid-area: accidentes;
}
.financiero{    
    display: flex;
    justify-content: center;
    grid-area: financiero;
}
.daños {
    display: flex;
    justify-content: center;
    grid-area: daños;
}
.defensa{
    display: flex;
    justify-content: center;
    grid-area: defensa;
}

.medida {
    height: 350px;
    width: 150px;
}


/* pagina de staff */

.grilla__staff{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "abogado1 abogado2 abogado3"
    "pie pie pie";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 4fr 1fr;
    height: 100vh;
    row-gap: 5px;
    background-image: url(../imagen/fondotodo.jpg);
}

.uno{
    display: flex;
    justify-content: center;
    grid-area: abogado1;
}

.dos{
    grid-area: abogado2;
    display: flex;
    justify-content: center;
}

.tres{
    grid-area: abogado3;
    display: flex;
    justify-content: center;
}

.presentacion {
    grid-area: carruzel;
    background-color: #808080;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-style: italic;
    background-image: url(../imagen/fondotodo.jpg);
}

.presentacion__nosotros {
    display: flex;
    justify-content: space-between;
}

.presentacion__nosotros__julian1 {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    border: solid 2px #b8b8bb;
    border-radius: 5px;
    background-color: #ffffff63;
    color: black;

}

.presentacion__parrafo {
    text-align: center;
    margin: 35px;
}

.presentacion__img {
    margin: 20px;
    border-radius: 15px;
    height: 300px;
    width: 330px;
}
/* pagina de contacto */

.grilla__contacto{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "mapa formulario redes"
    "pie pie pie";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 4fr 1fr;
    height: 100vh;
    background-image: url(../imagen/fondotodo.jpg);
    row-gap: 5px;
}

.contacto {
    grid-area: carruzel;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: space-around;
    font-style: italic;
}

.contacto__mapa a {
    grid-area: mapa;
    display: flex;
}

.contacto__formulario {
    grid-area: formulario;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 500px;
}


.contacto__redSocial {
    grid-area: redes;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.redSocial {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 8px;
}

/* footer */

.pie {
    grid-area: pie;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: flex-end;
    background-color: #000000;
    color: #ffffff;
}

.pie__informacion {
    display: flex;
    text-align: center;
}

.pie__informacion__ubi {    
    width: 500px;
}

.pie__informacion__mail {
    display: flex;
}